@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EcoWave!</h1>
    <p>EcoWave is your go-to app for managing waste recycling at beaches, lakes, and oceans.</p>
</div>
